.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #3ea8bd;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.dice {
  margin-bottom: 20px;
}

.btn {
  background-color: #8a97a3;
  color: black;
  padding: 14px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 20px;
}

.btn:hover {
  background-color: #535b7b;
}

.scoreBox {
  margin-top: 80px;
  font-size: 35px;
  font-weight: bold;
}